{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

{% if player1 and player2 %}
  {% if player1 and player2 %}
    <p><a href="/players/{{player1.player_id}}"> {{player1}} </a> ({{player1.team}})</p>
    <p><a href="/players/{{player2.player_id}}"> {{player2}} </a> ({{player2.team}})</p>
  {% endif %}

{% else %}

  <form class="form-horizontal" method="post" action="{% url 'compare_players' %}">
    {% csrf_token %}
    <div class="row column form">
      <h4 class="text-center">Compare Players:</h4>
      {{ form.errors }}
      <label> {{ form.position.label_tag }}</label>
      {{ form.position }}

      <label> {{ form.full_name_1.label_tag }}</label>
        {{ form.full_name_1 }}

      <label> {{ form.full_name_2.label_tag }}</label>
        {{ form.full_name_2 }}

      <input type="submit" name="q" class="button expanded" value="Compare" />
    </div>
  </form>


{% endif %}
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}


{% endblock %}
