{% extends "base.html" %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static "css/topnav.css" %}"

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/what-input.js" %}"></script>
<script type="text/javascript" src="{% static "js/vendor/foundation.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>

<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->

{% endblock %}
