{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}






{% block content %}
<style>
  h1{
    text-align:center;
  }
  p{
    margin: 250px;
    /*margin-right: 250px;*/
  }
</style>


<body>
  <div class="large-4 columns">
    <h1><b>Welcome to League-Stats!</b></h1>
    <p><b>Fantasy Football requires competitors to be up-to-date with new and current player statistics. League-Stats works with real-time data to keep the subscribers up to date with the newest statistics posted by the NFL. League-Stats allows users to visually search for real-time NFL player statistics, view data on a weekly graph, and compare players in a simple yet detailed format. League-Stats scrapes the NFL players stats from the official NFL website and stores the data within a database using PostgreSQL, and is graphed using Chart.js.</b></p>

    <p>Here's a little <a href="/top/">sample</a> of what it can do.</p>
  </div>

</body>



{% endblock %}


<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}


{% endblock %}
