{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<!-- Start Top Bar -->
<div class="topnav" id="myTopnav">
  <div class="top-bar-left">
      <ul>
        <li><a href="/">Home</a></li>
  <div class="top-bar-right">
      {% if user.is_authenticated %}
        <li><a href="/logout/">Logout</a></li>
      {% else %}
        <li><a href="/login/">Log In</a></li>
      {% endif %}
    </ul>
  </div>
  </div>
</div>
<!-- End Top Bar -->

<div class="large-8 columns">
  <h1 style="text-align:center">Top 5 QBs based on Passing yards</h1>
</div>
<div class="large-4 columns">
  <h2>QBs</h2>
  <div id="five_qb_list">
    <ul>
      {% for player in players_list %}

      <label>Player:</label>
      <li>{{ qbs.id }} <li>
      <div class="divider"></div>
      <label>Yards:</label>
      <li>{{ qbs.yds }}</li>
      <div class="divider"></div>


      {% endfor %}
    </ul>
  </div>


</div>
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

{% endblock %}
