{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<style>
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
</style>
<body>
<div class="large-4 columns">
  <h1 style="text-align:center">{{full_name}}</h1>
</div>
<div class="large-4 columns">
  <table style="width:100%;align:center">
    <!-- <tr>
        <th>Player Id:</th>
        <td>{{ player_id }} </td>
    </tr> -->

    <tr>
        <th>Player Name:</th>
        <td>{{ full_name }} </td>
    </tr>
    {% if gsis_name %}
    <tr>
        <th>Short Name:</th>
        <td>{{ gsis_name }} </td>
    </tr>
    {% endif %}
    <tr>
        <th>Team Name:</th>
        <td>{{ teamcity }} {{ teamname }}</td>
    </tr>
    <tr>
          <th>Position:</th>
          <td>{{ position }} </td>
    </tr>
    <!-- <tr>
          <th>Profile Id:</th>
          <td>{{ profile_id }} </td>
    </tr> -->
    {% if profile_url %}
    <tr>
          <th>Profile Url:</th>
          <td><a href="{{ profile_url }}">NFLprofile</a></td>
    </tr>
    {% endif %}
    <tr>
          <th>Uniform Number:</th>
          <td>{{ uniform_number }} </td>
    </tr>
    <tr>
          <th>Birthdate:</th>
          <td>{{ birthdate }} </td>
    </tr>
    <tr>
          <th>College:</th>
          <td>{{ college }} </td>
    </tr>
    <tr>
          <th>Height:</th>
          <td>{{ height }} </td>
    </tr>
    <tr>
          <th>Weight:</th>
          <td>{{ weight }} </td>
    </tr>
    <tr>
          <th>Years Pro:</th>
          <td>{{ years_pro }} </td>
    </tr>
<!-- Offensive Player Graphs -->
    {% if position == "QB" %}
    <tr>
          <th>Passing Yards Per Game:</th>
          <td><a href="/players/{{ player_id }}/passing_yds_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Rushing Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/rushing_yds_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'RB' %}
    <tr>
        <th>Rushing Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/rushing_yds_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'FB' %}
    <tr>
        <th>Rushing Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/rushing_yds_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'TE' %}
    <tr>
        <th>Passing Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/passing_yds_player/">Graph</a></td>
    </tr>
    <!-- Catches per game-->
    <tr>
      <th>Catches Per Game:</th>
      <td><a href="/players/{{ player_id }}/catches_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'WR' %}
    <tr>
        <th>Receiving Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/receiving_yds_player/">Graph</a></td>
    </tr>
<!-- Catches per game-->
    <tr>
      <th>Catches Per Game:</th>
      <td><a href="/players/{{ player_id }}/catches_player/">Graph</a></td>
    </tr>
    {% endif %}
<!-- Defensive Player Graphs -->
    {% if position == 'DE' %}
    <tr>
        <th>Sacks Per Game:</th>
        <td><a href="/players/{{ player_id }}/sacks_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'DT' %}
    <tr>
        <th>Sacks Per Game:</th>
        <td><a href="/players/{{ player_id }}/sacks_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    {% endif %}
<!-- LineBackers-->
    {% if position == 'OLB' %}
    <tr>
        <th>Sacks Per Game:</th>
        <td><a href="/players/{{ player_id }}/sacks_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'OLB' %}
    <tr>
        <th>Sacks Per Game:</th>
        <td><a href="/players/{{ player_id }}/sacks_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    {% endif %}
<!--Pass Defense Players-->
    {% if position == 'FS' %}
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Picks Per Game:</th>
        <td><a href="/players/{{ player_id }}/picks_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'CB' %}
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Picks Per Game:</th>
        <td><a href="/players/{{ player_id }}/picks_player/">Graph</a></td>
    </tr>
    {% endif %}
    {% if position == 'SS' %}
    <tr>
        <th>Tackles Per Game:</th>
        <td><a href="/players/{{ player_id }}/tackles_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Picks Per Game:</th>
        <td><a href="/players/{{player_id }}/picks_player/">Graph</a></td>
    </tr>
    {% endif %}

<!-- Special Team Graphs -->

    {% if position == 'K' %}
    <tr>
        <th>Field Goals Per Game:</th>
        <!-- <td><a href="/players/{{ player_id }}/fgs_player/">Graph</a></td> -->
    </tr>
    {% endif %}

    {% if position == 'P' %}
    <tr>
        <th>Punt Distance Per Game:</th>
        <!-- <td><a href="/players/{{ player_id }}/punts_player/">Graph</a></td> -->
    </tr>
    {% endif %}

    {% if position == 'PR' or position == 'KR' %}
    <tr>
        <th>Touchdowns Per Game:</th>
        <!-- <td><a href="/players/{{ player_id }}/tds_player/">Graph</a></td> -->
    </tr>
    {% endif %}

</table>
</div>
</body>
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<!-- <script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script> -->

{% endblock %}
