{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="large-8 columns">
  <h1 style="text-align:center">Players</h1>
</div>
<div class="large-4 columns">
  <div id="players_list">
    {% if players_list %}
      {% for players in players_list %}
        <!-- <label>Player:</label> -->
          <li>{{players.fields.full_name}}</li>
            <a href="{{ players.fields.profile_url }}">NFLprofile</a>
        <!-- <label>player_id:</label> -->
        <a href="/players/{{ players.pk }}"> {{ players.pk }}</a>
          <!-- <div class="divider"></div> -->
          <div class="divider"></div>
      {% endfor %}

    {% endif %}
    <div class="divider"></div>

  </div>

</div>

{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

{% endblock %}
