{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="large-8 columns">
  <h1 style="text-align:center">{{data.player}}</h1>
</div>
<div class="large-4 columns">

  <canvas id="chart_ex" width="1200" height="400"></canvas>
  <p>Player Name: {{ data.name }}</p>
  <p>Team Id: {{data.team }}</p>
  <p>Position: {{ data.position }}
  {% for key, value in data.catches_per_week.items %}
      <p>Catches per week {{key}}: {{ value }}</p>
  {% endfor %}


</div>
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>
var endpoint = '/players/{{data.player_id}}/catches_player'
var defaultData = []
var labels = [{% for w in data.weeks %} "Week {{ w }}", {% endfor %}]
$.ajax({
  method:"GET",
  url:endpoint,
  success: function(data){
    labels = data.labels
    defaultData = data.default
    console.log(data)
  },
  error: function(error_data){
    console.log("error")
    console.log(error_data)
  }

})

var ctx = document.getElementById("chart_ex").getContext('2d');
var chart_ex = new Chart(ctx, {
  type: 'line',
  data:{
    labels: labels,
    datasets: [{
      label:'Catches per Week',
      data:   [{% for key, value in data.catches_per_week.items %}"{{value}}",{% endfor %}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 99, 132, 0.2)'
          ],
          borderColor: [
              'rgba(255,99,132,1)',
              'rgba(255,99,132,1)',
              'rgba(255,99,132,1)',
              'rgba(255,99,132,1)',
              'rgba(255,99,132,1)',
              'rgba(255,99,132,1)'
          ],
          borderWidth: 1
      }]
  },
  options: {
    responsive:true,
    tooltips:{
      mode: 'dataset'
      // insersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    },
    scales: {
      xAxes:[{
        display: true,
        scaleLabel: {
          display: true,
          labelString:'Game Week'
        }
      }],
      yAxes: [{
        display:true,
        scaleLabel: {
          display: true,
          labelString:'Catches'
        },
        ticks: {
          beginAtZero:true
        }
      }]
    }
  }
});
</script>
{% endblock %}
