{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="large-8 columns">
  <h1 style="text-align:center">Players</h1>
</div>
<div class="large-4 columns">
  <div id="players_list">
    <table style="width:100%">
    {% if players_list %}
      {% for players in players_list %}
        <tr>
          <th>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{players.fields.full_name}}</th>
          <td><a href="/players/{{ players.pk }}">Statistics</a></td>
        </tr>
      {% endfor %}
    {% endif %}
    </table>
  </div>

</div>

{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

{% endblock %}
