{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="large-8 columns">
  <h1 style="text-align:center">{{full_name}}</h1>
</div>
<div class="large-4 columns">
  <table style="width:100%">
    <tr>
        <th>Player Id:</th>
        <td>{{ player_id }} </td>
    </tr>
    <tr>
        <th>gsis Name:</th>
        <td>{{ gsis_name }} </td>
    </tr>
    <tr>
        <th>Player Name:</th>
        <td>{{ full_name }} </td>
    </tr>
    <tr>
        <th>Team Name:</th>
        <td>{{ team }} </td>
    </tr>
    <tr>
          <th>Position:</th>
          <td>{{ position }} </td>
    </tr>
    <tr>
          <th>Profile Id:</th>
          <td>{{ profile_id }} </td>
    </tr>
    <tr>
          <th>Profile Url:</th>
          <td><a href="{{ profile_url }}">NFLprofile</a></td>
    </tr>
    <tr>
          <th>Uniform Number:</th>
          <td>{{ uniform_number }} </td>
    </tr>
    <tr>
          <th>Birthdate:</th>
          <td>{{ birthdate }} </td>
    </tr>
    <tr>
          <th>College:</th>
          <td>{{ college }} </td>
    </tr>
    <tr>
          <th>Height:</th>
          <td>{{ height }} </td>
    </tr>
    <tr>
          <th>Weight:</th>
          <td>{{ weight }} </td>
    </tr>
    <tr>
          <th>Years Pro:</th>
          <td>{{ years_pro }} </td>
    </tr>
    {% if position == 'QB' %}
    <tr>
          <th>Passing Yards Per Game:</th>
          <td><a href="/players/{{ player_id }}/passing_yds_player/">Graph</a></td>
    </tr>
    <tr>
        <th>Rushing Yards Per Game:</th>
        <td><a href="/players/{{ player_id }}/rushing_yds_player/">Graph</a></td>
    </tr>
    {% endif %}
</table>
</div>
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

{% endblock %}
