{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

<div class="large-8 columns">
  <h1 style="text-align:center">Teams</h1>
</div>
<div class="large-4 columns">
<table style="width:100%">
  <div id="teams_list">
    {% if teams_list %}
      {% for t in teams_list %}
      <!-- {{t}} -->
      <tr>
        <th>Team Id:</th>
        <td><a href="/teams/{{t.pk}}">{{ t.pk }} </a></td>
      </tr>
      <tr>
        <th>Team City:</th>
        <td>{{ t.fields.city }}</td>
      </tr>
      <tr>
        <th>Team name:</th>
        <td>{{ t.fields.name }} </td>
      </tr>

        {% endfor %}
      {% endif %}
    </div>
</table>
</div>
{% endblock %}

<!-- SUPER SCRIPTS -->
{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/react@15/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>

{% endblock %}
